<?xml version='1.1' encoding='UTF-8'?>
<slave>
  <name>slave_node2</name>
  <description>slave node for java project</description>
  <remoteFS>/opt/jenkins</remoteFS>
  <numExecutors>1</numExecutors>
  <mode>NORMAL</mode>
  <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
  <launcher class="hudson.plugins.sshslaves.SSHLauncher" plugin="ssh-slaves@1.33.0">
    <host>172.31.32.96</host>
    <port>22</port>
    <credentialsId>abea119b-337a-4e5d-94c5-0dfe2ebf5bc6</credentialsId>
    <launchTimeoutSeconds>60</launchTimeoutSeconds>
    <maxNumRetries>10</maxNumRetries>
    <retryWaitTime>15</retryWaitTime>
    <sshHostKeyVerificationStrategy class="hudson.plugins.sshslaves.verifiers.ManuallyProvidedKeyVerificationStrategy">
      <key>
        <algorithm>ssh-rsa</algorithm>
        <key>AAAAB3NzaC1yc2EAAAADAQABAAABgQDP8ndRwvtLU1o0j0cwMWyO+VLmHzkq3/XB96Bv/2AMRwEnGhl9a1RRAy9UInqfXbhh/IHIUNjsrNSEt4HiR7FynL2bDMjBTS4+Wa6RYW+m9mcFp2L9fuIZDQ6Dfv51ABTTm57J0pxWe6s9AqTaIzu7M1xAXh3XKBIRhKBikOqDzWgZwBn7sQIECHPTCaOOCLPDGUxIysK5UAHKALJAnPltUHGqkgPM21U5mO1o5RQmjZKffqa/8cud06cRg7Eu2HwJxaa1FSAiwXIvmdtGhpCC3phLjZEzGQuTbB7wKEyr4EIOqhtHxLnld+MQ3m1dtyPGa6gBDmcNj69cDm9YavhFThkyUrzjt2w42eXXM1TJCcoFdfKHAVecs6Dx8UNmIwcb1SzobGOktzw+hBCtWVTlionlLhf9bAqhYwOOdFtsyFgvcnc39CPoNiSDJr6izqdwtqs6FbOqBKXdQyP0eDg+ow2L430NfCdOcsAlvxqxZwlQEoJF3yBXqO2VkGjqcCk=</key>
      </key>
    </sshHostKeyVerificationStrategy>
    <tcpNoDelay>true</tcpNoDelay>
  </launcher>
  <label></label>
  <nodeProperties/>
</slave>